# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Compiled class files
*.class
build/
dist/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
*.log
log/
logs/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Exception for lib directory jars
!lib/*.jar 